*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
nav{
    position: fixed;
    /* background-color: yellowgreen; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 40px;
}
nav h4{
    font-size: 25px;
    /* border: solid 2px black; */
    background-color: black;
    color: white;
    font-size: 22px;
    margin: 5px;
    padding: 15px 25px;
    border-radius: 50px;
}
#intro{
    height: 45%;
    font-size: 75px;
    /* background-color: blueviolet; */
    line-height: 142px;
    padding: 55px 60px;
    letter-spacing: -3px;
}
#intro2{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#intro2 h3 {
    font-size: 33px;
    font-weight: 600;
    padding: 0px 50px;
    
}
#hero-img{
    height: 87%;
    width: 100%;
    background-image:url(https://assets-global.website-files.com/64589fb989b2b33c593db89d/6458a6db645ec6a527000cfa_home-hero-p-2000.webp);
    object-fit:cover;
}
#about{
    height: 62%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 60px;
}
#about h2{
    height:100% ;
    font-size:92px ;
    font-weight:540 ;
    line-height:75px ;
    letter-spacing: -2px;
}
#about2{
    width:35% ;
    height:120% ;
    padding:0px 60px ;
    border-left:2px solid black ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#about2 h3{
    font-size: 33px;
    font-weight: 600;
}
#icon i{
    background-color: black;
    color: white;
    font-size:27px ;
    padding:10px ;
    border-radius:50px ;
    margin-right:10px ;
}
#work{
    height: 70%;
    width: 100%;
    border-top: 2px solid black;
    display: flex;
    padding: 50px 60px;
    border-bottom: 2px solid black;
}
#work1{
    width:35% ;
    height:100% ;
    display:flex ;
    padding-right:60PX ;
    justify-content:space-between ;
    border-right: 2px solid black;
}
#work1 h3{
    font-size: 33px;
    font-weight: 600px;
}
#work1 i{
    font-size: 35px;
}
#work2{
    height: 100%;
    width: 65%;
    padding: 0 60px;
}
.work2-part{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.work2-part:nth-child(1){
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        width: 100%;
}
.work2-part .elem{
    width: 50%;
    height: 100%;
}
.work2-part .elem:nth-child(1){
    border-right: 2px solid black;
    padding-right: 50px;
}
.work2-part .elem:nth-child(2){
    padding-left: 50px;
}
.work2-part .elem h4{
    font-size: 45px;
    margin-bottom: 10px;
    font-weight: 600;
}
.work2-part .elem p{
    font-size: 18px;
    color: #5a5757;
    font-weight: 500;
}